<div class="main__watch animated fadeInDown">
  <div class="row main__watch-content">
    <div class="col-md-12">
      <div class="main__watch-info">
        <h1>About My Website</h1>
        <div class="description">
          <h3>Mục đích đề tài</h3>
          <p>Làm web nộp đồ án môn thực hành nhập môn web</p>

          <h3>Chức năng nổi bật</h3>
          <ol>
            <li>Using frontbox Stack</li>
            <li>SPA - Single Page Application - Không cần tải lại trang</li>
            <li>Parallax</li>
            <li>Responsive - Tự động co giản theo nền tảng</li>
            <li>Cross-Browser - Đa trình duyệt</li>
            <li>Jquery Slider Image Effect</li>
            <li>Scroll smooth effect</li>
            <li>Use HTML 5 new tags</li>
            <li>Use CSS 3 new properties</li>
            <li>CSS 3 Animation</li>
            <li>Javascript ES6 </li>
            <li>Build in Pugjs</li>
            <li>Build in Stylus</li>
          </ol>

          <h3>Nguồn hình ảnh <a href="https://wall.alphacoders.com/">Wall Alphacoders</a></h3>
          <div class="main__about">
            <form>
              <h1>Contact form</h1>
              <input placeholder="Name" type="text" value="" required>
              <input placeholder="Email address" type="email" onblur="this.setAttribute('value', this.value);" value="" required>
              <span class="validation-text">Please enter a valid email address.</span>
              <input placeholder="Location" type="text" value="" required>
              <div class="flex">
                <textarea placeholder="Message" rows="1" required></textarea>
              </div>
              <button>Send</button>
            </form>
            <a href="https://twitter.com/lynkxyz" target="_blank"><i class="fa fa-twitter"></i>Follow Me</a>
          </div>

          <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
          <link href='http://fonts.googleapis.com/css?family=Roboto:400' rel='stylesheet' type='text/css'>
        </div>
      </div>
      <div class="main__watch-comments">
        <div data-href="https://developers.facebook.com/docs/plugins/comments#configurator" data-width="100%" data-numposts="5" class="fb-comments"></div>
      </div>
    </div>
  </div>
</div>