<div id="newanime" class="main__citem animated fadeInDown">
  <div class="row main__header">
    <div class="col-md-9 col-sm-7 col-xs-5">
      <h3>Lab 1</h3>
    </div>
  </div>
  <div class="row main__citem-content">
    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
      <a href="http://lynkxyz.github.io/lab/lab1/lab1_bai1.html">
        <div class="main__citem-item">
          <div class="overlay"><img src="img/play.png" /></div><img ng-src="img/1.jpg" alt="" class="img-responsive" />
          <div class="main__citem-des">
            <h2>Index</h2><span></span>
          </div>
        </div>
      </a>
    </div>
  </div>
  
  <div class="row main__header">
    <div class="col-md-9 col-sm-7 col-xs-5">
      <h3>Lab 2</h3>
    </div>
  </div>
  <div class="row main__citem-content">
    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
      <a href="http://lynkxyz.github.io/lab/lab2/index.html">
        <div class="main__citem-item">
          <div class="overlay"><img src="img/play.png" /></div><img ng-src="img/2.jpg" alt="" class="img-responsive" />
          <div class="main__citem-des">
            <h2>Index</h2><span></span>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
      <a href="http://lynkxyz.github.io/lab/lab2/dichvu.html">
        <div class="main__citem-item">
          <div class="overlay"><img src="img/play.png" /></div><img ng-src="img/3.jpg" alt="" class="img-responsive" />
          <div class="main__citem-des">
            <h2>Dichvu</h2><span></span>
          </div>
        </div>
      </a>
    </div>
  </div>
  
  <div class="row main__header">
    <div class="col-md-9 col-sm-7 col-xs-5">
      <h3>Lab 3</h3>
    </div>
  </div>
  <div class="row main__citem-content">
    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
      <a href="http://lynkxyz.github.io/lab/lab3/lab3_bai1.html">
        <div class="main__citem-item">
          <div class="overlay"><img src="img/play.png" /></div><img ng-src="img/4.jpg" alt="" class="img-responsive" />
          <div class="main__citem-des">
            <h2>Bai 1</h2><span></span>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
      <a href="http://lynkxyz.github.io/lab/lab3/lab3_bai2.html">
        <div class="main__citem-item">
          <div class="overlay"><img src="img/play.png" /></div><img ng-src="img/5.jpg" alt="" class="img-responsive" />
          <div class="main__citem-des">
            <h2>Bai 2</h2><span></span>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
      <a href="http://lynkxyz.github.io/lab/lab3/lab3_bai3.html">
        <div class="main__citem-item">
          <div class="overlay"><img src="img/play.png" /></div><img ng-src="img/6.jpg" alt="" class="img-responsive" />
          <div class="main__citem-des">
            <h2>Bai 3</h2><span></span>
          </div>
        </div>
      </a>
    </div>
  </div>
  
  <div class="row main__header">
    <div class="col-md-9 col-sm-7 col-xs-5">
      <h3>Lab 4</h3>
    </div>
  </div>
  <div class="row main__citem-content">
    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
      <a href="http://lynkxyz.github.io/lab/lab2/lab4_vidu1.html">
        <div class="main__citem-item">
          <div class="overlay"><img src="img/play.png" /></div><img ng-src="img/23.jpg" alt="" class="img-responsive" />
          <div class="main__citem-des">
            <h2>Vi du 1</h2><span></span>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
      <a href="http://lynkxyz.github.io/lab/lab4/lab4_bai2.html">
        <div class="main__citem-item">
          <div class="overlay"><img src="img/play.png" /></div><img ng-src="img/24.jpg" alt="" class="img-responsive" />
          <div class="main__citem-des">
            <h2>Bai 2</h2><span></span>
          </div>
        </div>
      </a>
    </div>
  </div>
  
  <div class="row main__header">
    <div class="col-md-9 col-sm-7 col-xs-5">
      <h3>Lab 5</h3>
    </div>
  </div>
  <div class="row main__citem-content">
    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
      <a href="http://lynkxyz.github.io/lab/lab5/lab5_bai1.html">
        <div class="main__citem-item">
          <div class="overlay"><img src="img/play.png" /></div><img ng-src="img/7.jpg" alt="" class="img-responsive" />
          <div class="main__citem-des">
            <h2>Bai 1</h2><span></span>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
      <a href="http://lynkxyz.github.io/lab/lab5/lab5_bai2.html">
        <div class="main__citem-item">
          <div class="overlay"><img src="img/play.png" /></div><img ng-src="img/8.jpg" alt="" class="img-responsive" />
          <div class="main__citem-des">
            <h2>Bai 2</h2><span></span>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
      <a href="http://lynkxyz.github.io/lab/lab5/lab5_bai3.html">
        <div class="main__citem-item">
          <div class="overlay"><img src="img/play.png" /></div><img ng-src="img/9.jpg" alt="" class="img-responsive" />
          <div class="main__citem-des">
            <h2>Bai 3</h2><span></span>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
      <a href="http://lynkxyz.github.io/lab/lab5/lab5_vidu1.html">
        <div class="main__citem-item">
          <div class="overlay"><img src="img/play.png" /></div><img ng-src="img/10.jpg" alt="" class="img-responsive" />
          <div class="main__citem-des">
            <h2>Vi du 1</h2><span></span>
          </div>
        </div>
      </a>
    </div>
  </div>
  
  <div class="row main__header">
    <div class="col-md-9 col-sm-7 col-xs-5">
      <h3>Lab 6</h3>
    </div>
  </div>
  <div class="row main__citem-content">
    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
      <a href="http://lynkxyz.github.io/lab/lab6/lab6_bai1.html">
        <div class="main__citem-item">
          <div class="overlay"><img src="img/play.png" /></div><img ng-src="img/11.jpg" alt="" class="img-responsive" />
          <div class="main__citem-des">
            <h2>Bai 1</h2><span></span>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
      <a href="http://lynkxyz.github.io/lab/lab6/lab6_bai2.html">
        <div class="main__citem-item">
          <div class="overlay"><img src="img/play.png" /></div><img ng-src="img/12.jpg" alt="" class="img-responsive" />
          <div class="main__citem-des">
            <h2>Bai 2</h2><span></span>
          </div>
        </div>
      </a>
    </div>
  </div>
  
  <div class="row main__header">
    <div class="col-md-9 col-sm-7 col-xs-5">
      <h3>Lab 7</h3>
    </div>
  </div>
  <div class="row main__citem-content">
    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
      <a href="http://lynkxyz.github.io/lab/lab7/lab7_bai1.html">
        <div class="main__citem-item">
          <div class="overlay"><img src="img/play.png" /></div><img ng-src="img/13.jpg" alt="" class="img-responsive" />
          <div class="main__citem-des">
            <h2>Bai 1</h2><span></span>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
      <a href="http://lynkxyz.github.io/lab/lab7/lab7_bai2.html">
        <div class="main__citem-item">
          <div class="overlay"><img src="img/play.png" /></div><img ng-src="img/14.jpg" alt="" class="img-responsive" />
          <div class="main__citem-des">
            <h2>Bai 2</h2><span></span>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
      <a href="http://lynkxyz.github.io/lab/lab7/lab7_bai3.html">
        <div class="main__citem-item">
          <div class="overlay"><img src="img/play.png" /></div><img ng-src="img/15.jpg" alt="" class="img-responsive" />
          <div class="main__citem-des">
            <h2>Bai 3</h2><span></span>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
      <a href="http://lynkxyz.github.io/lab/lab7/lab7_bai4.html">
        <div class="main__citem-item">
          <div class="overlay"><img src="img/play.png" /></div><img ng-src="img/16.jpg" alt="" class="img-responsive" />
          <div class="main__citem-des">
            <h2>Bai 4</h2><span></span>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
      <a href="http://lynkxyz.github.io/lab/lab7/lab7_bai5.html">
        <div class="main__citem-item">
          <div class="overlay"><img src="img/play.png" /></div><img ng-src="img/17.jpg" alt="" class="img-responsive" />
          <div class="main__citem-des">
            <h2>Bai 5</h2><span></span>
          </div>
        </div>
      </a>
    </div>
  </div>
  
  <div class="row main__header">
    <div class="col-md-9 col-sm-7 col-xs-5">
      <h3>Lab 8</h3>
    </div>
  </div>
  <div class="row main__citem-content">
    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
      <a href="http://lynkxyz.github.io/lab/lab8/lab8_bai1.html">
        <div class="main__citem-item">
          <div class="overlay"><img src="img/play.png" /></div><img ng-src="img/19.jpg" alt="" class="img-responsive" />
          <div class="main__citem-des">
            <h2>Bai 1</h2><span></span>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
      <a href="http://lynkxyz.github.io/lab/lab8/lab8_bai2.html">
        <div class="main__citem-item">
          <div class="overlay"><img src="img/play.png" /></div><img ng-src="img/20.jpg" alt="" class="img-responsive" />
          <div class="main__citem-des">
            <h2>Bai 2</h2><span></span>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
      <a href="http://lynkxyz.github.io/lab/lab8/lab7_bai8.html">
        <div class="main__citem-item">
          <div class="overlay"><img src="img/play.png" /></div><img ng-src="img/21.jpg" alt="" class="img-responsive" />
          <div class="main__citem-des">
            <h2>Bai 3</h2><span></span>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
      <a href="http://lynkxyz.github.io/lab/lab8/lab8_bai4.html">
        <div class="main__citem-item">
          <div class="overlay"><img src="img/play.png" /></div><img ng-src="img/22.jpg" alt="" class="img-responsive" />
          <div class="main__citem-des">
            <h2>Bai 4</h2><span></span>
          </div>
        </div>
      </a>
    </div>
  </div>
  
  <div class="row main__header">
    <div class="col-md-9 col-sm-7 col-xs-5">
      <h3>Lab 9</h3>
    </div>
  </div>
  <div class="row main__citem-content">
    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
      <a href="http://lynkxyz.github.io/lab/lab9/lab9_bai1.html">
        <div class="main__citem-item">
          <div class="overlay"><img src="img/play.png" /></div><img ng-src="img/25.jpg" alt="" class="img-responsive" />
          <div class="main__citem-des">
            <h2>Bai 1</h2><span></span>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
      <a href="http://lynkxyz.github.io/lab/lab9/lab9_bai2.html">
        <div class="main__citem-item">
          <div class="overlay"><img src="img/play.png" /></div><img ng-src="img/26.jpg" alt="" class="img-responsive" />
          <div class="main__citem-des">
            <h2>Bai 2</h2><span></span>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
      <a href="http://lynkxyz.github.io/lab/lab9/lab9_vidu1.html">
        <div class="main__citem-item">
          <div class="overlay"><img src="img/play.png" /></div><img ng-src="img/27.jpg" alt="" class="img-responsive" />
          <div class="main__citem-des">
            <h2>Vi du 1</h2><span></span>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
      <a href="http://lynkxyz.github.io/lab/lab9/lab9_vidu2.html">
        <div class="main__citem-item">
          <div class="overlay"><img src="img/play.png" /></div><img ng-src="img/28.jpg" alt="" class="img-responsive" />
          <div class="main__citem-des">
            <h2>Vi du 2</h2><span></span>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
      <a href="http://lynkxyz.github.io/lab/lab9/lab9_vidu3.html">
        <div class="main__citem-item">
          <div class="overlay"><img src="img/play.png" /></div><img ng-src="img/3.jpg" alt="" class="img-responsive" />
          <div class="main__citem-des">
            <h2>Vi du 3</h2><span></span>
          </div>
        </div>
      </a>
    </div>
  </div>
  
  
</div>
<script>
  window.document.title = "Webmovie - Lab TH NM Web";
</script>
