<div id="newanime" class="main__citem animated fadeInDown">
  <div class="row main__header">
    <div class="col-md-9 col-sm-7 col-xs-5">
      <h3>New Anime Releases For You</h3>
    </div>
    <div class="col-md-3 col-sm-5 col-xs-7 main__header--right"><a href="#">show all</a><a href="#"><i class="fa fa-chevron-left"></i></a><a href="#"><i class="fa fa-chevron-right"></i></a></div>
  </div>
  <div class="row main__citem-content">
    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6" ng-repeat="photo in photos1" ui-sref="movie({id: photo.img})" ui-sref-active="active">
      <div class="main__citem-item">
        <div class="overlay"><img src="img/play.png" /></div><img ng-src="img/{{photo.img}}.jpg" alt="" class="img-responsive" />
        <div class="main__citem-des">
          <h2>{{photo.name}}</h2><span>#700</span>
        </div>
      </div>
    </div>
  </div>
</div>
