<div class="main__watch animated fadeInDown" ng-controller="ViewController">
    <div class="row main__watch-header">
        <div class="col-md-8 col-sm-12 col-xs-12">
            <div class="main__watch-video">
                <!--<iframe width="100%" height="500" ng-src="{{video.video}}" frameborder="0" allowfullscreen=""></iframe>-->
                <div class="embed-responsive embed-responsive-16by9">
                    <youtube-video video-id="theBestVideo"></youtube-video>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="main__watch-episode">
                <ul>
                    <li class="hvr-bounce-to-right"><img src="http://placehold.it/162x82" alt="" />
                        <div class="main__watch-suggest-episode"> <a href="">Episode 1</a><small>2,300 view</small></div>
                    </li>
                    <li class="hvr-bounce-to-right"><img src="http://placehold.it/162x82" alt="" />
                        <div class="main__watch-suggest-episode"> <a href="">Episode 2</a><small>2,300 view</small></div>
                    </li>
                    <li class="hvr-bounce-to-right"><img src="http://placehold.it/162x82" alt="" />
                        <div class="main__watch-suggest-episode"> <a href="">Episode 3</a><small>2,300 view</small></div>
                    </li>
                    <li class="hvr-bounce-to-right"><img src="http://placehold.it/162x82" alt="" />
                        <div class="main__watch-suggest-episode"> <a href="">Episode 4</a><small>2,300 view</small></div>
                    </li>
                    <li class="hvr-bounce-to-right"><img src="http://placehold.it/162x82" alt="" />
                        <div class="main__watch-suggest-episode"> <a href="">Episode 5</a><small>2,300 view</small></div>
                    </li>
                    <li class="hvr-bounce-to-right"><img src="http://placehold.it/162x82" alt="" />
                        <div class="main__watch-suggest-episode"> <a href="">Episode 6</a><small>2,300 view</small></div>
                    </li>
                    <li class="hvr-bounce-to-right"><img src="http://placehold.it/162x82" alt="" />
                        <div class="main__watch-suggest-episode"> <a href="">Episode 7</a><small>2,300 view</small></div>
                    </li>
                    <li class="hvr-bounce-to-right"><img src="http://placehold.it/162x82" alt="" />
                        <div class="main__watch-suggest-episode"> <a href="">Episode 8</a><small>2,300 view</small></div>
                    </li>
                    <li class="hvr-bounce-to-right"><img src="http://placehold.it/162x82" alt="" />
                        <div class="main__watch-suggest-episode"> <a href="">Episode 9</a><small>2,300 view</small></div>
                    </li>
                    <li class="hvr-bounce-to-right"><img src="http://placehold.it/162x82" alt="" />
                        <div class="main__watch-suggest-episode"> <a href="">Episode 10</a><small>2,300 view</small></div>
                    </li>
                    <li class="hvr-bounce-to-right"><img src="http://placehold.it/162x82" alt="" />
                        <div class="main__watch-suggest-episode"> <a href="">Episode 11</a><small>2,300 view</small></div>
                    </li>
                    <li class="hvr-bounce-to-right"><img src="http://placehold.it/162x82" alt="" />
                        <div class="main__watch-suggest-episode"> <a href="">Episode 12</a><small>2,300 view</small></div>
                    </li>
                    <li class="hvr-bounce-to-right"><img src="http://placehold.it/162x82" alt="" />
                        <div class="main__watch-suggest-episode"> <a href="">Episode 13</a><small>2,300 view</small></div>
                    </li>
                    <li class="hvr-bounce-to-right"><img src="http://placehold.it/162x82" alt="" />
                        <div class="main__watch-suggest-episode"> <a href="">Episode 14</a><small>2,300 view</small></div>
                    </li>
                    <li class="hvr-bounce-to-right"><img src="http://placehold.it/162x82" alt="" />
                        <div class="main__watch-suggest-episode"> <a href="">Episode 15</a><small>2,300 view</small></div>
                    </li>
                    <li class="hvr-bounce-to-right"><img src="http://placehold.it/162x82" alt="" />
                        <div class="main__watch-suggest-episode"> <a href="">Episode 16</a><small>2,300 view</small></div>
                    </li>
                    <li class="hvr-bounce-to-right"><img src="http://placehold.it/162x82" alt="" />
                        <div class="main__watch-suggest-episode"> <a href="">Episode 17</a><small>2,300 view</small></div>
                    </li>
                    <li class="hvr-bounce-to-right"><img src="http://placehold.it/162x82" alt="" />
                        <div class="main__watch-suggest-episode"> <a href="">Episode 18</a><small>2,300 view</small></div>
                    </li>
                    <li class="hvr-bounce-to-right"><img src="http://placehold.it/162x82" alt="" />
                        <div class="main__watch-suggest-episode"> <a href="">Episode 19</a><small>2,300 view</small></div>
                    </li>
                    <li class="hvr-bounce-to-right"><img src="http://placehold.it/162x82" alt="" />
                        <div class="main__watch-suggest-episode"> <a href="">Episode 20</a><small>2,300 view</small></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row main__watch-content">
        <div class="col-md-8">
            <div class="main__watch-info">
                <h1>{{video.name}}</h1>
                <div class="row">
                    <div class="col-md-8"><span id="follow"><i class="fa fa-plus"></i> FOLLOW</span></div>
                    <div class="col-md-4"><span id="views" class="hvr-underline-from-left"><i class="fa fa-heart"></i> {{video.views}} views</span></div>
                </div><span><i class="fa fa-list"></i> {{video.genre}}</span><span><i class="fa fa-building"></i> {{video.producer}}</span>
                <div class="description">{{video.description}}</div>
            </div>
            <div class="main__watch-comments">
                <div data-href="https://developers.facebook.com/docs/plugins/comments#configurator" data-width="100%" data-numposts="5" class="fb-comments"></div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="main__watch-suggest">
                <div class="main__watch-episode">
                    <ul>
                        <li class="hvr-bounce-to-right " ng-repeat="video in data">
                            <a ui-sref="movie({id: video.img})" ui-sref-active="active">
                                <div class="list-video clearfix">
                                    <img src="img/{{video.img}}.jpg" alt="" width="100%"/>
                                </div>
                                
                                <div class="main__watch-suggest-episode"> <a href="">{{video.name}}</a><small>2,200 view</small></div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
