.ReactTabs__TabList
  border none !important
  padding 5px !important

.ReactTabs__Tab
  border none !important
  font-size 15px
  text-transform uppercase
  font-weight bold
  transition all 0.3s ease-in-out

  &:focus
    box-shadow none !important


.ReactTabs__Tab--selected
  color $red-400 !important

